<h1>Listing parties</h1>

<table id="parties" class="sortable parties">
</table>

<script>
  var parties_url = "<%= parties_path(format: :json) %>";
  var profiles = <%= @profiles_json.html_safe %>;
</script>

<% content_for :bottom do %>
  <script>
    $(function(){
      da.parties.initPartyTable()
    })
  </script>
<% end %>