<h1>
  <%= avatar @profile %>
  <%= @profile.name %>
</h1>

<%= profile_menu @profile, dotabuff_link(@profile) %>

<h2>Latest matches</h2>
<%= render partial: "matches/listing", collection: @matches, as: :match %>
