@import "base";

// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match {
  padding: 10px;
  position: relative;
  background: #F1F1F1;
  margin-bottom: 10px;
}

.match-link {
  display: block;
  text-decoration: none;
  &:hover {
  }
}

.match-outcome {
  display: inline-block;
  background: gray;
  color: #fff;
  width: 44px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  &.match-outcome-won {
    background: $green;
  }
  &.match-outcome-lost {
    background: $red;
  }
}

.match-time {
  color: #aaa;
  font-size: 10px;
}

.match-mode {
  // color: #777;
}

// calendar
body {
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.Blues .q0-5{fill:rgb(239,243,255)}
.Blues .q1-5{fill:rgb(189,215,231)}
.Blues .q2-5{fill:rgb(107,174,214)}
.Blues .q3-5{fill:rgb(49,130,189)}
.Blues .q4-5{fill:rgb(8,81,156)}
