// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Parties table
.parties {
  td, th {
    text-align: right;
    &:first-child {
      text-align: left;
    }
  }
}

.party-link {
  font-size: 0;
  img {
    margin-left: 1px;
    display: inline-block;
    &:first-child { margin-left: 0; }
  }
}