// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player {
  margin: 5px 0;
}

.hero-avatar {
  width: 44px;
  vertical-align: middle;
}