// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player {
  margin: 5px 0;
}

.hero-avatar {
  width: 44px;
  vertical-align: middle;
}

// Team table
.team-hero {
  width: 44px;
}
.team-profile {
  width: auto;
}
.team-avatar {
  width: 25px;
}
.team-level {
  width: 30px;
}
.team-kills, 
.team-deaths, 
.team-assists {
  width: 20px;
}
.team-gold {
  width: 60px;
}
.team-last-hits,
.team-denies {
  width: 30px;
}
.team-xpm,
.team-gpm {
  width: 40px;
}
.team-hero-damage,
.team-tower-damage {
  width: 60px;
}
.team-hero-healing {
  width: 40px;
}
.team-items {
  width: 240px;
  .item {
    height: 25px;
    display: inline-block;
    margin-left: 1px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
  }
}
